/*   CSS RESET   */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F1F2;
  font-size: 1vw;
  overflow: hidden; }

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translateX(-50%) translateY(-50%);
  width: 22.8%;
  transition: box-shadow 0.5s;
  overflow: hidden; }
  .card a {
    text-decoration: none; }

.card:hover {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75); }

.card-date {
  position: absolute;
  top: 1vw;
  right: 1.2vw;
  width: 4vw;
  height: 4vw;
  background-color: #E74C3C;
  border-radius: 50%;
  color: white;
  text-align: center; }

.card-day {
  margin-top: 1vw; }

.card-image {
  height: 235px;
  background-color: white;
  overflow: hidden;
  transition: height 0.5s; }
  .card-image img {
    display: block;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s; }
  .card:hover .card-image img {
    opacity: 0.6;
    transform: scale(1.2); }
  .card:hover .card-image {
    height: 90px; }

.card-body {
  position: relative;
  padding: 20px;
  height: 100px;
  transition: height 0.5s; }
  .card:hover .card-body {
    height: 245px; }

.card-photos {
  position: absolute;
  left: 0;
  top: -1.8vw;
  height: 2vw;
  padding: 0 15px;
  background-color: #E74C3C;
  color: white;
  font-size: 1.2vw;
  line-height: 2vw;
  text-transform: uppercase; }

.card-title {
  font-size: 2vw;
  text-transform: uppercase;
  padding: 5px 0 10px 0; }

.card-subtitle, .card-subtitle a {
  font-size: 1.5vw;
  color: #E74C3C;
  padding: 0 0 10px 0; }

.card-description {
  margin-top: 20px;
  color: #666C74;
  line-height: 1.5vw;
  opacity: 0;
  transition: opacity 0.5s; }
  .card:hover .card-description {
    opacity: 1; }

.card-footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  color: #93989f; }
  .card-footer .card-comments a {
    color: #93989f;
    margin-left: 20px; }

.fas, .far {
  margin-right: 5px; }

/*# sourceMappingURL=style.css.map */
